---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/bootstrap.scss";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Heleen & Thijs - {pageTitle}</title>
    <meta name="description" content="Heleen & Thijs gaan trouwen" />
  </head>
  <body>
    <Header />
    <div class="container">
      <slot />
      <Footer />
      <script>
        // Import only what you need
        // import "bootstrap/dist/js/bootstrap";
        //        import "bootstrap/js/dist/alert";
        //        import "bootstrap/js/dist/button";
        //        import "bootstrap/js/dist/carousel";
        import "bootstrap/js/dist/collapse";
        //        import "bootstrap/js/dist/dropdown";
        //        import "bootstrap/js/dist/modal";
        //        import "bootstrap/js/dist/offcanvas";
        //        import "bootstrap/js/dist/popover";
        //        import "bootstrap/js/dist/scrollspy";
        //        import "bootstrap/js/dist/tab";
        //        import "bootstrap/js/dist/toast";
        //        import "bootstrap/js/dist/tooltip";
      </script>
    </div>
  </body>
</html>
